    /* 針對列印媒體的 CSS */
@media print {
  /* 隱藏下拉式選單的箭頭 */
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border: none;
    box-shadow: none;
    /* 確保選單還是能顯示文本 */
    color: inherit;
    font: inherit;
  }

  /* 顯示選單文本 */
  select option {
    display: block;
    padding: 8px;
    /* 設定顏色確保可讀性 */
    color: black;
    background: transparent;
  }
}
    /* 表格樣式 */
    table {
        table-layout: fixed;
        width: 98%;
        border-collapse: collapse;
        border: 1px solid black;
        margin: auto;
        background-color:transparent;
        font-family: Arial, sans-serif;
        font-size: 14px;
    }

    th, td {
        border: 1px solid black;
        padding: 4px;
        text-align: center;
        width: 12.5%;
        white-space: pre-wrap;
    }

    h2 {
            margin: 0;
            font-size: 1.5em;
            text-align: center;
        }

    select, input[type="date"], input[type="text"] {
        font-family: Arial, sans-serif;
        font-size: 14px;
        border: none;
        background: transparent;
        white-space: pre-wrap;
        outline: none;
    }

    /* 設定表格欄位的寬度和內容居中對齊 */
    .input-cell {
        width: 200px;               /* 設定表格欄位的固定寬度 */
        text-align: center;         /* 使表格欄位內容居中 */
        vertical-align: middle;     /* 垂直居中 */
    }

    /* 設定輸入框的寬度及內容居中對齊 */
    .input-cell input[type="text"],
    .input-cell input[type="date"],
    .input-cell select {
        width: 100%;                /* 使輸入框與表格欄位同寬 */
        box-sizing: border-box;      /* 包括內距和邊框 */
        text-align: center;          /* 輸入框內文本水平居中 */
        font-family: Arial, sans-serif;
        font-size: 14px;
        border: none;
        background: transparent;
        white-space: pre-wrap;
        outline: none;
    }

        /* 美化滾動條 */
        ::-webkit-scrollbar {
            width: 8px; /* 滾動條寬度 */
        }

        ::-webkit-scrollbar-track {
            background: #E0E0E0; /* 滾動條背景 */
        }

        ::-webkit-scrollbar-thumb {
            background: #8E8E8E; /* 滾動條滑塊顏色 */
            border-radius: 10px; /* 滑塊圓角 */
        }

        ::-webkit-scrollbar-thumb:hover {
            background: #8E8E8E; /* 滑塊滑過時的顏色 */
        }

